
<%= stylesheet_link_tag 'index' %>

<% content_for :html_title, 'about' %>
<% content_for :html_description, "web + マンガ ＋ アニメーション = 新しい創作のカタチ キャラクター,背景,BGMなどの要素をwebで共有。作品作りを手軽に" %>

<div id="top_menu">


  <div id="top_pane" style="margin-left:10px" >
    <h1 size="50">ecoMakiとは</h1>
    <br>
    <h3>物語の創作をもっと楽にしたいという思いから、このサービスを開発しています。 </h3>
      <p size="20" style="margin-left:5px">
        <h2>ecoMakiの特徴</h2>
        <h3>デジタルならではの表現</h3>
        ecoMakiはアニメーションや背景の差し替え、BGMの設定といったデジタルならではの表現を提供します。<br>
        <h3>ライブラリ共有</h3>
        ecoMakiは素材をアップロードしてWebブラウザ上で組み合わせてマンガやノベルが作れます。<br>
        アップロードした素材は、ユーザーが共有する事ができます<br>
        <h3>二次創作のサポート</h3>
        ecoMakiは二次創作を機能としてサポートします。<br>
        viewerとediterは同じサービスの違うモードでしかありません。<br>
        閲覧者は誰でも1クリックでその作品をコピーし、編集し、改変し、再公開する事ができます<br>
        作者が作った時と同じデータ構造ごと公開されているため、
        セリフの入れ替え、キャラクター絵の差し替えといった簡単な編集が即座にできます。<br>
        
       
        <br>
        <br>
      
        <h3>作り手と読み手の間にある、深くて広い谷に少しでも橋を架けることができたらと思います。</h3><br>
        <br>
      
    <h2>2012年度未踏ソフトウェア事業に採択されています</h2>
    <h2>Githubでソースコードを公開しています</h2>
    　<a href="https://github.com/taizan/ecomaki">taizan/ecomaki</a>
      ツール自体も、フォークして改変してPushできます！　一緒にecoMakiを作りましょう。
  </div>
  <div id="top_hedder">
  </div>

</div>

