
<% content_for :html_title, 'about' %>
<% content_for :html_description, "web + マンガ ＋ アニメーション = 新しい創作のカタチ キャラクター,背景,BGMなどの要素をwebで共有。作品作りを手軽に" %>

<div id="top_menu">


  <div id="top_pane" >
    <img id="logo" src="/assets/top/simple_logo.png"> 
    <h1>ecoMakiとは</h1>
     
  </div>
  <div id="top_hedder">
    <h2>アップされたコンテンツを使って手軽に創作! </h2>
    <h2>公開された作品からスピンオフを作って共有!</h2>
  </div>

  <h1>GitHub</h1>
  <button class="btn btn-primary">>> get ecomaki code  </button>
</div>

