
<%= stylesheet_link_tag 'index' %>

<% content_for :html_title, 'about' %>
<% content_for :html_description, "web + マンガ ＋ アニメーション = 新しい創作のカタチ キャラクター,背景,BGMなどの要素をwebで共有。作品作りを手軽に" %>

<div id="top_menu">


  <div id="top_pane" >
    <h1 size="50">ecoMakiとは</h1>
    <br>
    <h2>物語の創作をもっと楽にしたいという思いから、このサービスを開発しています。 </h2>
      <p size="20">
        ecoMakiの特徴的は、コンテンツとツールの一体化、オープンな二次創作環境です。<br>
        ecoMakiは素材をアップロードしてWebブラウザ上で組み合わせてマンガやノベルが作れます。<br>
        製作したコンテンツは、編集した時のhtml構造のまま公開されます。<br>
        つまり、テキストはテキスト、背景と前景それらの情報が全て残っています。<br>
        そして誰でも1クリックでそのhtml構造をコピーし,改変して再公開できます。<br>
        セリフの入れ替え、キャラクター絵の差し替えといった簡単な編集が即座にできます。<br>

      
        作り手と読み手の間にある、深くて広い谷に少しでも橋を架けることができたらと思います。<br>
        <br>
      
      </p>
    <h2>webならではの表現</h2>
      <p>
        スクロールをトリガーに描画しているキャラクター画像やセリフにアニメーションを設定したり、<br>
        BGMを再生したり、背景をフェードイン、フェードアウトさせたりできます。<br>
        背景やBGMもアップロードされたものはecoMaki全体で共有されています。<br>
      </p>
    <h2>2012年度未踏ソフトウェア事業に採択されています</h2>
     
  </div>
  <div id="top_hedder">
  </div>

</div>

