
<% content_for :html_title, 'about' %>
<% content_for :html_description, "web + マンガ ＋ アニメーション = 新しい創作のカタチ キャラクター,背景,BGMなどの要素をwebで共有。作品作りを手軽に" %>

<div id="top_menu">


  <div id="top_pane" >
    <img id="logo" src="/assets/top/simple_logo.png"> 
    <h1>ecoMakiとは</h1>
    <h2>物語の創作をもっと楽にしたいという思いから、このサービスを開発しています。 </h2>
    <h2>
      マンガの様な絵を多用したコンテンツは人に伝える表現力は高いものの、作るのが難しい。<br>
      そこで絵の制作と物語のレイアウトを分離して、データベースに登録した絵をコマに配置するという更正を採用しました。<br>    
      また、画像ではなく、html形式として描画する事で、テキストはテキストとしてそのまま取り扱えます。<br>
      htmlの要素に対してアニメーションをかけたりする事もできます。<br>
      重要なのは、これらが、作品を見ているブラウザ上で直接出来るという事です。<br>
      ecomakiはスピンオフの作成を標準機能としてサポートしています。<br>
      読んでいる作品を湾クリックでコピーして編集に入る事が出来ます。<br>
      作り手と読み手の間にある、深くて広い谷に少しでも橋を架けることが、できたら。<br>
      <br>
      ecomakiのコード自体もいずれ公開する予定です。<br>
      共有するのは物語だけではなく、それを語る舞台も道具も共有する。そんな環境が作りたい<br>
    </h2> 
     
  </div>
  <div id="top_hedder">
  </div>

</div>

