<aside class = "well sidebar-nav" id="picker">
    <ul id = "pickerList" class = "nav nav-list">
      <li class="nav-header">New File Upload</li>
      <input id="character_upload" type="file" name="character_image" data-url="/characters" multiple>
      <li class="nav-header">Selecct Image from Libraly</li>
      <li><button class="btn" id ="pickerCancelBtn">cancel</button></li>
    </ul>
</aside>

<h1>taizan.ecomaki.com/novel/1</h1>

