<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ecomaki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="#">
	    <font color="#dddd55">e</font><font color="#55ee55">co</font><font color="#7777ee">Novel</font>
            </a>
          <div class="nav-collapse">
            <ul class="nav">
			  <li><a href="CharacterMaking.html">CharacterMaking</a></li>
			  <li class="active"><a href="#">
			  			StoryPlannning</a></li>
              <li><a href="#contact">Rendering</a></li>
            </ul>
	</div>
	</div>
      </div>`
    </div>
  
  <header>
    <h1>ECOMAKI</h1>
    <hr>
  </header>

  <%= yield %>

  <footer>
    <hr>
    ecomaki footer
  </footer>
</body>
</html>
