<!DOCTYPE html>
<Html>
<head>
  <meta charset="UTF-8">
  <title>Ecomaki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</Head>
<Body>
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <div id="menu" class="navbar">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </A>
	  <a class="brand" href="#">
	    <font color="#dddd55">e</font><font color="#55ee55">co</font><font color="#7777ee">Maki</font>
            </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="">Home</a></li>
              <li class="active"><a href="#">
		  Novel</a></li>
              
              <li ><a href="https://twitter.com/share" class="twitter-share-button" data-text="ecomaki.com">Tweet</a></li>
              <li ><div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-action="recommend"></div></li>   
            </ul>
	</div>
	</div>
      </div>
    </div>
  
  <header>
    <h1>ECOMAKI</h1>
    <hr>
  </header>

  <%= yield %>

</body>
</html>
