
<script type="text/template" id="form_template">
  <table>
    <tr class="title_input form_item">
      <td>Title:</td>
      <td><textarea /></td>
    </tr>
    <tr class="description_input form_item">
      <td>Description:</td>
      <td><textarea /><td>
    </tr>
    <br>
    <tr class="auther_input form_item">
      <td>Auther:</td>
      <td><textarea /><td>
    </tr>
  </table>
</script>


<script type="text/template" id="bootstrap_form_template">
  <form class="form-horizontal">
    
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" placeholder="title">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputDescription">Description:</label>
      <div class="controls">
        <input type="text" id="inputDescription" placeholder="description">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputAuther">Auther:</label>
      <div class="controls">
        <input type="text" id="inputAuther" placeholder="auther">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        
        <label class="checkbox">
          <input type="checkbox"> I'm agree
        </label>
        
        <button type="submit" class="btn btn-primary">ok</button>
        <button  class="btn ">cancel</button>
      
      </div>
    </div>

  </form>
</script>

<script type="text/template" id="char_form_template">
  <form class="form-horizontal">
    
    <div class="control-group">
      <label class="control-label" for="inputName">Character Name:</label>
      <div class="controls">
        <input type="text" id="inputName" placeholder="name">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputDescription">Description:</label>
      <div class="controls">
        <input type="text" id="inputDescription" placeholder="description">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputFile">file:</label>
      <div class="controls">
        <input id="music_upload" type="file" name="image" data-url="/character" multiple>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputAuther">Auther:</label>
      <div class="controls">
        <input type="text" id="inputAuther" placeholder="auther">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> I'm agree
        </label>
        <button type="submit" class="btn btn-primary">ok</button>
        <button  class="btn ">cancel</button>
      </div>
    </div>
  </form>
</script>

<script type="text/template" id="novel_template">
  <br>

  <div id="title" class="title">
    <h2 class="text_help  editer_item">T I T L E</h2>
    <h2 class="text">novel title</h2>
  </div>
  <div id="description" class="description">
    <p class="text_help  editer_item">D E S C R I P T I O N</p>
    <p class="text">des</p>
  </div>
  
  <div class="buttons editer_item">
    <button id="add_chapter" class="btn add_chapter"> 
       <img src="/assets/novel/page_add_green.png">
    </button>
  </div>

  <div class="chapterList">
  </div>

</script>

<script type="text/template" id="chapter_template">
  <hr class="editer_item">
  <div class="chapter_control top_control editer_item">
    <img class="background_icon icon"src="/assets/novel/background.png"/>
    <img class="music_icon icon" src="/assets/novel/music.png" />
    <button class="remove_chapter icon"> <img src="/assets/novel/remove.png" /></button>
  </div>

  <div class="title">
    <h2 class="text_help editer_item">PAGE  TITLE</h2>
    <h2 class="text">chapter title</h2>
  </div>
  <div class="description">
    <p class="text_help editer_item">DESCRIPTION</p>
    <p class="text">des</p>
  </div>

  <div class="entryList"></div>
  <br>
  <div class="buttons chapter_buttons editer_item">
    <button class="btn add_entry add_one_char">
       <img src="/assets/novel/add_1_char_1_ball.png">
    </button>
    <button class="btn add_entry add_two_char">
       <img src="/assets/novel/add_2_char_2_ball.png">
    </button>
    <button class="btn add_entry add_description"> 
       <img src="/assets/novel/add_description.png">
    </button>
  </div>

  <hr class="editer_item">
  <div class="chapter_control bottom_control editer_item">
    <button class="btn add_chapter icon">
       <img src="/assets/novel/page_add_green.png">
    </button>
  </div>
  
</script>

<script type="text/template" id="entry_template">
  <div class="entry-content">
  </div>
  <div class="hide_buttons editer_item">
    <li><i class="icon-move" /></li>
    <li><button class="btn --btn-remove"><i class="icon-remove-sign" /></button></li>
    <li><button class="btn --btn-baloon">
       <img src="/assets/novel/add_balloon.png">
    </button></li>
    <li><button class="btn --btn-picture">
       <img src="/assets/novel/add_character.png">
    </button></li>
    <li><button class="btn --btn-layer">
       <img src="/assets/novel/pencil.png">
    </button></li>
    <li><button class="btn --btn-entry"><i class="icon-arrow-down" /></button></li>
  </div>
  <div class="itemEffectSelecters">
  </div>
</script>

<script type="text/template" id="baloon_template">
  <p class="--baloon-text"> {{ text }} </p>
</script>

<script type="text/template" id="picture_template">
  <img class="--picture-img "  > </img>
</script>

