
<script type="text/template" id="novel_template">
  <br>

  <div id="title" class="title">
    <h2 class="help  editer_item">[[novel title]]</h2>
    <h2 class="text">novel title</h2>
  </div>
  <div id="description" class="description">
    <p class="help  editer_item">[[novel description]]</p>
    <p class="text">des</p>
  </div>
  
  <div class="buttons editer_item">
    <button id="add_chapter" class="btn add_chapter"> 
       <img src="/assets/novel/page_add_green.png">
    </button>
  </div>

  <div class="chapterList">
  </div>

</script>

<script type="text/template" id="chapter_template">
  <br>

  <div class="title">
    <h2 class="help editer_item">[[chapter title]]</h2>
    <h2 class="text">chapter title</h2>
  </div>
  <div class="description">
    <p class="help editer_item">[[chapter description]]</p>
    <p class="text">des</p>
  </div>
  <div class="selecter_item editer_item">
    <!-- 
    <div>
      Background
      <select class="background_select"></select>
    </div>
    <div>
      BGM
      <select class="bgm_select">
        <option name="bgm" value="">なし</option>
        {% ['dream', 'flower', 'orange'].forEach(function(name, i) { %}
        <option name="bgm" value="{{ i + 1 }}">{{ name }}</option>
        {% }); %}
      </select>
    </div>
    -->
    <img class="background_icon" src="/assets/novel/background.png">
    <img class="music_icon" src="/assets/novel/music.png">
  </div>

  <div class="entryList">
  </div>

  <br>
  <div class="buttons chapter_buttons editer_item">
    <button class="btn add_entry add_one_char">
       <img src="/assets/novel/add_1_char_1_ball.png">
    </button>
    <button class="btn add_entry add_two_char">
       <img src="/assets/novel/add_2_char_2_ball.png">
    </button>
    <button class="btn add_entry add_description"> 
       <img src="/assets/novel/add_description.png">
    </button>
    <br>
    <br>
    <button class="btn add_chapter">
       <img src="/assets/novel/page_add_green.png">
    </button>
    <button class="btn remove_chapter"> 
       <img src="/assets/novel/page_remove_red.png">
    </button>
  </div>

</script>

<script type="text/template" id="entry_template">
  <div class="entry-content">
  </div>
  <div class="hide_buttons editer_item">
    <li><i class="icon-move" /></li>
    <li><button class="btn --btn-remove"><i class="icon-remove-sign" /></button></li>
    <li><button class="btn --btn-baloon">
       <img src="/assets/novel/add_balloon.png">
    </button></li>
    <li><button class="btn --btn-picture">
       <img src="/assets/novel/add_character.png">
    </button></li>
    <li><button class="btn --btn-layer">
       <img src="/assets/novel/pencil.png">
    </button></li>
    <li><button class="btn --btn-entry"><i class="icon-arrow-down" /></button></li>
  </div>
  <div class="itemEffectSelecters">
  </div>
</script>

<script type="text/template" id="baloon_template">
  <p class="--baloon-text"> {{ text }} </p>
</script>

<script type="text/template" id="picture_template">
  <img class="--picture-img "  > </img>
</script>

