

<script type="text/template" id="novel_template">
  <div id="novel_header">
    <div id="title"  contenteditable = "true"  title="題名"></div>
    <div id="description" contenteditable = "true" title="説明"></div>
    <div id="author_name" contenteditable = "true"  title="作者" ></div>
  </div>
  <!-- 
  <div class="buttons novel_buttons editer_item">
    <button id="add_chapter" class="btn add_chapter" title="新しい章の作成"> 
       <img src="/assets/novel/page_add_green.png">
    </button>
  </div>
  -->

  <div id="new_chapter_handle" class="new_chapter_handle editor_item" >新規ページ追加 </div> 

  <br>
  <div class="chapterList"></div>
  <br>

</script>

<script type="text/template" id="chapter_template">
  <!--<hr class="editer_item">-->
  
  <div class="chapter_wrapper">
  <div class="chapter_control top_control editer_item">
    <button class="background_icon icon">
      <img src="/assets/novel/background_2.png" title="背景の選択"/>
    </button>
    <button class="music_icon icon">
      <img  src="/assets/novel/Sound.png" title="BGMの選択"/>
    </button>
    <button class="remove_chapter icon" title="この章全体の削除"> <img src="/assets/novel/remove.png" /></button>
  </div>

  <div class="chapter_header">
    <div class="title" contenteditable = "true" title="章の題名。省略可能"></div>
    <div class="description" contenteditable = "true" title="章の説明。省略可能"></div>
  </div>

  <div class="entryList"></div>
  <br>

  </div>
 <!-- 
  <div class="buttons chapter_buttons editer_item">
    <button class="btn add_entry add_one_char" title="コマの追加,キャラクター１人タイプ">
       <img src="/assets/novel/add_1_char_1_ball.png">
    </button>
    <button class="btn add_entry add_two_char" title="コマの追加,キャラクター2人タイプ">
       <img src="/assets/novel/add_2_char_2_ball.png">
    </button>
    <button class="btn add_entry add_description" title="コマの追加,説明文タイプ"> 
       <img src="/assets/novel/add_description.png">
    </button>
  </div>

  <hr class="editer_item">

  <div class="chapter_control bottom_control editer_item">
    <button class="btn add_chapter icon" title="新しい章の追加; Add new chapter">
       <img src="/assets/novel/page_add_green.png">
    </button>
  </div>
  -->
  <br>
  <div class="new_chapter_handle editor_item" >新規ページ追加 </div> 
  <br>
</script>

<script type="text/template" id="entry_template">
  <div class="entry_wrapper">
    <div class="entry_content"></div>

    <div class="hide_buttons editer_item">
      <li><i class="icon-move entry_handle" title="ドラッグしてコマのソート"/></li>
      <li><button class="btn btn_remove" title="コマの削除"><i class="icon-remove-sign" /></button></li>
      <li><button class="btn btn_balloon" title="セリフの追加">
        <img src="/assets/novel/add_balloon.png">
      </button></li>
      <li><button class="btn btn_character" title="キャラクター画像の追加">
        <img src="/assets/novel/add_character.png">
      </button></li>
      <li><button class="btn btn_layer" title="キャンバスを一番上/一番下のレイヤーに">
        <img src="/assets/novel/pencil.png">
      </button></li>
      <li><button class="btn btn_entry" title="コマの複製"><i class="icon-arrow-down" /></button></li>
    </div>
    <div class="itemEffectSelecters"></div>
  </div>
    <div class="new_entry_handle editor_item" >新規コマ追加</div> 
</script>

<script type="text/template" id="balloon_template">
  <p class="--balloon-text"> {{ text }} </p>
</script>

<script type="text/template" id="picture_template">
  <img class="--picture-img "  > </img>
</script>

