
<script type="text/template" id="novel_template">
  <hr>
  <div id="novel_header">
    <div id="title"  >
      <h2 class="text_help  editer_item"></h2>
      <h2 class="text" ></h2>
    </div>
    <div id="description"  > 
      <p class="text_help  editer_item"></p>
      <p class="text" ></p>
    </div>
    <div id="author"  > 
      <p class="text_help  editer_item"></p>
      <p class="text" ></p>
    </div>
  </div>

  <hr>

  <div class="chapterList">
  </div>

</script>

<script type="text/template" id="chapter_template">
  <div class="chapter_header">
    <div class="title" >
      <h2 class="text"></h2>
    </div>
    <div class="description" >
      <p class="text"></p>
    </div>
  </div>

  <div class="entryList"></div>
  
</script>

<script type="text/template" id="entry_template">
  <div class="entry-content">
  </div>
</script>

<script type="text/template" id="balloon_template">
  <p class="--balloon-text"> {{ text }} </p>
</script>

<script type="text/template" id="picture_template">
  <img class="--picture-img "  > </img>
</script>

