
<script type="text/template" id="novel_template">
  <br>

  <div id="title" class="title" title="題名; Novel Title;">
    <h2 class="text_help  editer_item">T I T L E</h2>
    <h2 class="text" >novel title</h2>
  </div>
  <div id="description" class="description" title="説明; description;"> 
    <p class="text_help  editer_item">D E S C R I P T I O N</p>
    <p class="text" >des</p>
  </div>

  <div class="chapterList">
  </div>

</script>

<script type="text/template" id="chapter_template">
  <hr class="editer_item">

  <div class="title" title="章の題名。省略可能; Chapter title. It can be omitted">
    <h2 class="text">chapter title</h2>
  </div>
  <div class="description" title="章の説明。省略可能; Chapter description. It can be omitted">
    <p class="text">des</p>
  </div>

  <div class="entryList"></div>
  
</script>

<script type="text/template" id="entry_template">
  <div class="entry-content">
  </div>
</script>

<script type="text/template" id="balloon_template">
  <p class="--balloon-text"> {{ text }} </p>
</script>

<script type="text/template" id="picture_template">
  <img class="--picture-img "  > </img>
</script>

