<div class="show_template">


<script type="text/template" id="novel_template">
  <img id="background_odd" class="ecomaki_background" src="/assets/0.png" style="display:none"/>
  <img id="background_even" class="ecomaki_background" src="/assets/0.png" style="display:none"/>
  <div id="novel_header">
    <div id="title" ></div>
    <div id="description" ></div>
    <div id="author" ></div>
  </div>


  <div class="chapterList">
  </div>

</script>

<script type="text/template" id="chapter_template">
  <div class="chapter_header">
    <div class="title" ></div>
    <div class="description" ></div>
  </div>

  <div class="entryList"></div>
  
</script>

<script type="text/template" id="entry_template">
  <div class="entry_wrapper">
    <div class="entry_content">
      <div class="character_wrapper"></div>
    </div>
    <div class="newEntryHandle" ></div> 
  </div>
</script>

<script type="text/template" id="social_template">
</script>

<script type="text/template" id="picture_template">
  <img class="--picture-img "  > </img>
</script>

</div>
