<div class="tool_template">

<script type="text/template" id="tool_tab_template">
  <div id="tool_tabs">
    <ul>
      <li><a href="#paint_tab">ペイントツール</a></li>
      <li><a href="#effecter_tab">アニメーション</a></li>
      <li><a href="#help_tab">ヘルプ</a></li>
    </ul>
    <div id="paint_tab">
    </div>
    <div id="effecter_tab">
    </div>
    <div id="help_tab">
    </div>
  </div>
</script>

<script type="text/template" id="form_template">
  <table>
    <tr class="title_input form_item">
      <td>Title:</td>
      <td><textarea /></td>
    </tr>
    <tr class="description_input form_item">
      <td>Description:</td>
      <td><textarea /><td>
    </tr>
    <br>
    <tr class="auther_input form_item">
      <td>Auther:</td>
      <td><textarea /><td>
    </tr>
  </table>
</script>


<script type="text/template" id="novel_form_template">
  <div class="init_form form-horizontal">
    
    <div class="control-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputTitle" placeholder="title">
      </div>

      <label class="control-label" for="inputDescription">Description:</label>
      <div class="controls">
        <input type="text" id="inputDescription" placeholder="description">
      </div>

      <label class="control-label" for="inputAuther">Auther:</label>
      <div class="controls">
        <input type="text" id="inputAuther" placeholder="auther">
      </div>

      <div class="controls">
        
        <label class="checkbox">
          <input type="checkbox" title="ただの飾りです。"> I'm agree
        </label>
        
        <button  class="btn btn-primary">ok</button>
        <button  class="btn ">cancel</button>
      
      </div>
    </div>

  </div>
</script>


<script type="text/template" id="upload_form_template">
  <form class="upload_form form-horizontal"  method="post" enctype="multipart/form-data">
    
    <div class="control-group">
      <label class="control-label" for="inputName"> Name(必須):</label>
      <div class="controls">
        <input type="text" id="input_name" placeholder="name" name="name">
      </div>
    
      <label class="control-label" for="inputDescription">Description:</label>
      <div class="controls">
        <input type="text" id="input_description" placeholder="description" name="description">
      </div>
    
      <label class="control-label" for="inputFile">file(max 256KB):</label>
      <div class="controls">
        <input id="input_file" type="file" name="image" >
      </div>

      <label class="control-label" for="inputAuther">Auther:</label>
      <div class="controls">
        <input type="text" id="input_author" placeholder="author" name="author">
      </div>


      <div class="controls">
        <input type="checkbox" title="ただの飾りです。"> I'm agree 
        <button type="submit" class="submit_button btn btn-primary">ok</button>
        <button type="button"  class="cancel_button btn ">cancel</button>
      </div>
    
  </form>
</script>

<script type="text/template" id="character_picker_template">
  <aside class = "well sidebar-navpicker picker picker_elem " id="character_picker" >

    <ul class = "picker_list nav nav-list picker_elem">
      <li class="nav-header picker_elem">
        <button id="add_character_button" 
            class="btn picker_elem" 
            title="キャラクターの追加">
          <img src='/assets/novel/add_character_big.png'>
          新しいキャラ
        </buttton>
        <button class="btn picker_cancel_button" title="閉じる" style="float:right">
          <img src="/assets/novel/arrow_left.png" style="height:20px">
          閉じる 
        </button>
      </li>
    </ul>

  </aside>
</script>

<script type="text/template" id="background_picker_template">
  <aside class = "well sidebar-nav picker picker_elem" id="background_picker" >

    <ul class = "picker_list picker_elem nav nav-list">
      <li class="nav-header picker_elem">
        <button id="add_background_button" class="btn picker_elem" title="`背景の追加; New Background"><img src='/assets/novel/add.png'></buttton>
        <button class="btn picker_cancel_button" title="閉じる; close picker"><img src="/assets/novel/arrow_left.png" ></button>
      </li>
    </ul>

  </aside>
</script>

<script type="text/template" id="music_picker_template">
  <aside class = "well sidebar-nav picker picker_elem" id="music_picker" >

    <ul class = "picker_list  picker_elem nav nav-list">
      <li class="nav-header picker_elem">
        <button id="add_music_button" class="btn picker_elem" title="音楽の追加; New BGM"><img src='/assets/novel/add.png'></buttton>
        <button class="btn picker_cancel_button" title="閉じる; close picker"><img src="/assets/novel/arrow_left.png" ></button>
      </li>
    </ul>
  </aside>
</script>

<script type="text/template" id="balloon_picker_template">
  <aside class = "well sidebar-nav picker picker_elem" id="balloon_picker" >

    <ul class = "picker_list  picker_elem nav nav-list">
      <li class="nav-header picker_elem">
        <button class="btn picker_cancel_button" title="閉じる; close picker"><img src="/assets/novel/arrow_left.png" ></button>

      </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/0.png" id = "0"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/1.png" id = "1"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/2.png" id = "2"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/3.png" id = "3"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/4.png" id = "4"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/5.png" id = "5"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/6.png" id = "6"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/7.png" id = "7"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/8.png" id = "8"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/9.png" id = "9"> </li>
      <li> <img class="balloon_picker_item" src="/assets/balloon/10.png" id = "10"> </li>
    </ul>
  </aside>
</script>


<script type="text/template" id="picker_template">
  <!-- picker menu  -->
  <aside class = "well sidebar-nav" id="picker">
      <ul>
        <li><a href="#list_tab"><i class="icon-user"></i>LIST</a></li>
        <li><a href="#upload_tab"><i class="icon-upload"></i>UPLOAD</a></li>
      </ul>
      <div id="list_tab">
        <ul id = "picker_list" class = "nav nav-list">
          <li class="nav-header">
            <button id="add_character_button" title="キャラクターの追加; New Character"><img src='/assets/novel/add_character.png'></buttton>
            <button id="add_background_button" title="`背景の追加; New Background"><img src='/assets/novel/add.png'></buttton>
            <button id="add_music_button" title="音楽の追加; New BGM"><img src='/assets/novel/add.png'></buttton>
          </li>
          
        </ul>
      </div>
      <div id="upload_tab">
        <ul id = "picker_upload" class = "nav nav-list" style="display:none" >
          <li class="nav-header">character File Upload</li>
          <input id="character_upload" type="file" name="image" data-url="/characters/0/images" multiple>

          <li class="nav-header">Music File Upload</li>
          <input id="music_upload" type="file" name="music" data-url="/background_musics" multiple>
      
          <li class="nav-header">Background File Upload</li>
          <input id="background_upload" type="file" name="image" data-url="/background_images" multiple>
        </ul>
        <button class="btn upload_button" id ="character_upload_button"><img src="/assets/novel/upload.png" ></button>
        <button class="btn upload_button" id ="background_upload_button"><img src="/assets/novel/upload.png" ></button>
        <button class="btn upload_button" id ="music_upload_button"><img src="/assets/novel/upload.png" ></button>
    </div>

      <button class="btn" id ="picker_cancel_button"><img src="/assets/novel/arrow_left.png" ></button></li>
  </aside>
</script>

<script type="text/template" id="picker_item_template">
  <li class='picker_item'>
    <hr>
    <button class="btn list_header_button"><img ></button>
    <div class="list_header_text" >
      <p class="list_header_name">name </p>
      <p class="list_header_description">description </p>
    </div>
    <div class='floatEnd'></div>
    <button class="btn add_character_image_button add_character_image" title="新規画像の追加" >
      <img class="add_character_image" src="/assets/novel/add.png">
    </button>
    <div class='floatEnd'></div>
    <div class="image_list" style="display:none">
    </div>
    <hr>
  </li>
</script>

<script type="text/template" id="chapter_handle_template">
  <div class="chapter_handle">
    <div class="chpter_handle_list"></div>
    <div class="buttons">
      <button id="preview_btn" class="btn" >Preview</button>>
    </div>
  </div>
</script>

<script type="text/template" id="font_selecter_template">
  <div class="font_selecter">
    <div class="floatEnd"></div>
    <div class="item_name selecter_item">item name</div>
    <div id="font_size_radio">
      <input type="radio" id="font_size_s" name="radio" /><label for="font_size_s">S</label>
      <input type="radio" id="font_size_m" name="radio" checked="checked" /><label for="font_size_m">M</label>
      <input type="radio" id="font_size_L" name="radio" /><label for="font_size_L">L</label>
      <input type="radio" id="font_size_XL" name="radio" /><label for="font_size_XL">XL</label>
    </div>
    <select name="fontSize" class="fontSizes selecter_item">
      <option value="8">8</option>
      <option value="10" selected="selected">10</option>
      <option value="12">12</option>
      <option value="14">14</option>
      <option value="16">16</option>
      <option value="18">18</option>
      <option value="20">20</option>
      <option value="24">24</option>
      <option value="28">28</option>
      <option value="32">32</option>
      <option value="36">36</option>
      <option value="40">40</option>
      <option value="44">44</option>
      <option value="48">48</option>
      <option value="54">54</option>
      <option value="62">62</option>
      <option value="72">72</option>
    </select>
    <select name="fontStyle" class="fontStyleTypes selecter_item">
    </select>
    <select name="fontFamily" class="fontFamilyTypes selecter_item">
    </select>
    <select name="fontColor" class="fontColors selecter_item">
      <option value="black" selected="selected" style="background-color:black" >black</option>
      <option value="gray" style="background-color:gray" >gray</option>
      <option value="silver" style="background-color:silver" >silver</option>
      <option value="white" style="background-color:white" >white</option>
      <option value="blue" style="background-color:blue" >blue</option>
      <option value="navy" style="background-color:navy" >navy</option>
      <option value="teal" style="background-color:teal" >teal</option>
      <option value="green" style="background-color:green" >green</option>
      <option value="lime" style="background-color:lime" >lime</option>
      <option value="aqua" style="background-color:aqua" >aqua</option>
      <option value="yellow" style="background-color:yellow" >yellow</option>
      <option value="red" style="background-color:red" >red</option>
      <option value="fuchia" style="background-color:fuchia" >fuchia</option>
      <option value="olive" style="background-color:olive" >olive</option>
      <option value="purple" style="background-color:purple" >purple</option>
      <option value="maroon" style="background-color:maroon" >maroon</option>
    </select>
    <select name="border" class="borderTypes selecter_item">
      <option value="none">None</option>
      <option value="solid" selected="selected">Solid</option>
      <option value="double">Double</option>
      <option value="groove">Groove</option>
      <option value="ridge">Ridge</option>
      <option value="inset">Inset</option>
      <option value="outset">OutSet</option>
      <option value="dashed">Dashed</option>
      <option value="dotted">Dotted</option>
    </select>
    <select name="borderWidth" class="borderWidths selecter_item">
      <option value="0">0</option>
      <option value="1" selected="selected">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <select name="borderRadius" class="borderRadiuses selecter_item">
      <option value="0">0</option>
      <option value="10">10</option>
      <option value="20" selected="selected">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="60">60</option>
      <option value="80">80</option>
      <option value="100">100</option>
    </select>
    <select name="fontBackgroundColor" class="fontBackgroundColors selecter_item">
      <option value="Transparent" style="background-color:Transparent" >Transparent</option>
      <option value="black" style="background-color:black" >black</option>
      <option value="gray" style="background-color:gray" >gray</option>
      <option value="silver" style="background-color:silver" >silver</option>
      <option value="white" selected="selected" style="background-color:white" >white</option>
      <option value="blue" style="background-color:blue" >blue</option>
      <option value="navy" style="background-color:navy" >navy</option>
      <option value="teal" style="background-color:teal" >teal</option>
      <option value="green" style="background-color:green" >green</option>
      <option value="lime" style="background-color:lime" >lime</option>
      <option value="aqua" style="background-color:aqua" >aqua</option>
      <option value="yellow" style="background-color:yellow" >yellow</option>
      <option value="red" style="background-color:red" >red</option>
      <option value="fuchia" style="background-color:fuchia" >fuchia</option>
      <option value="olive" style="background-color:olive" >olive</option>
      <option value="purple" style="background-color:purple" >purple</option>
      <option value="maroon" style="background-color:maroon" >maroon</option>
    </select>
    <div class="floatEnd"></div>
  </div>
</script>

<script type="text/template" id="effect_selecter_template">
  <div class="effect_selecter">
    <div class="floatEnd"></div>
    <div class="item_name selecter_item" title="選択された要素、アニメーション設定用; selected item ID for setting animation">item name</div>
    <select name="function" class="functionTypes selecter_item" title="アニメーションタイプ">
      <option value="none" selected="selected">None</option>
      <option value="effect">Effect</option>
      <option value="show">Show</option>
      <option value="hide">Hide</option>
    </select>
    <select name="effects" class="effectTypes selecter_item" title="アニメーション効果"> 
      <option value="none" selected="selected">None</option>
      <option value="blind">Blind</option>
      <option value="bounce">Bounce</option>
      <option value="clip">Clip</option>
      <option value="drop">Drop</option>
      <option value="explode">Explode</option>
      <option value="fade">Fade</option>
      <option value="fold">Fold</option>
      <option value="highlight">Highlight</option>
      <option value="puff">Puff</option>
      <option value="pulsate">Pulsate</option>
      <option value="scale">Scale</option>
      <option value="shake">Shake</option>
      <option value="size">Size</option>
      <option value="slide">Slide</option>
      <option value="transfer">Transfer</option>
    </select>
    <!-- 
    <select name="ease" class="easeTypes selecter_item">
    
      <option value="linear" >linear</option>
      <option value="swing" >swing</option>
      <option value="jswing" >jswing</option>
      <option value="easeInQuad" >easeInQuad</option>
      <option value="easeInCubic" >easeInCubic</option>
      <option value="easeInQuart" >easeInQuart</option>
      <option value="easeInQuint" >easeInQuint</option>
      <option value="easeInSine" >easeInSine</option>
      <option value="easeInExpo" >easeInExpo</option>
      <option value="easeInCirc" >easeInCirc</option>
      <option value="easeInElastic" >easeInElastic</option>
      <option value="easeInBack" >easeInBack</option>
      <option value="easeInBounce" >easeInBounce</option>
      <option value="easeOutQuad" >easeOutQuad</option>
      <option value="easeOutCubic" >easeOutCubic</option>
      <option value="easeOutQuart" >easeOutQuart</option>
      <option value="easeOutQuint" >easeOutQuint</option>
      <option value="easeOutSine" >easeOutSine</option>
      <option value="easeOutExpo" >easeOutExpo</option>
      <option value="easeOutCirc" >easeOutCirc</option>
      <option value="easeOutElastic" >easeOutElastic</option>
      <option value="easeOutBack" >easeOutBack</option>
      <option value="easeOutBounce" >easeOutBounce</option>
      <option value="easeInOutQuad" >easeInOutQuad</option>
      <option value="easeInOutCubic" >easeInOutCubic</option>
      <option value="easeInOutQuart" >easeInOutQuart</option>
      <option value="easeInOutQuint" >easeInOutQuint</option>
      <option value="easeInOutSine" >easeInOutSine</option>
      <option value="easeInOutExpo" >easeInOutExpo</option>
      <option value="easeInOutCirc" >easeInOutCirc</option>
      <option value="easeInOutElastic" >easeInOutElastic</option>
      <option value="easeInOutBack" >easeInOutBack</option>
      <option value="easeInOutBounce" >easeInOutBounce</option>
    </select>
    -->
    <input name="duration" class="durations selecter_item" value="500" size="4" maxlength="4" title="アニメーション時間">
    <button class="btn btn-success selecter_btn run_button">
      <i class="icon-play"></i>Run
    </button>
    <button class="btn selecter_btn reset_button">
      <i class="icon-step-backward"></i>Reset
    </button>

    <div class="floatEnd"></div>
  </div>
</script>

<script type="text/template" id="text_menu_template">
  <div class="text_menu">
    <select name="fontFamily" class="fontFamilyTypes selecter_item">
        <option value="ＭＳ 明朝">ＭＳ 明朝</option>
        <option value="ＭＳ ゴシック">ＭＳ ゴシック</option>
    </select>
		<div name="fontColor" class="fontColors _wPaint_colorPicker selecter_item" title="Text Color"></div>

    <div  class="selecter_item TSize" title="Text Size">
      <div class="font_size_radio" title="Text Size">
        <input type="radio" id="font_size_s" name="radio"  /><label value="12" for="font_size_s">S</label>
        <input type="radio" id="font_size_m" name="radio" /><label value="16" for="font_size_m">M</label>
        <input type="radio" id="font_size_L" name="radio" /><label value="28" for="font_size_L">L</label>
        <input type="radio" id="font_size_XL" name="radio"  /><label value="45" for="font_size_XL">XL</label>
      </div>
    </div>

    <div name="borderRadius" class="borderRadiuses" id="borderRadius" title="Line Radius">
			<input type='checkbox' id='rect_on'/><label for='rect_on'>  </label>
    </div>

    <div  class="selecter_item LStyle" >
      <select name="border" class="borderTypes" >
        <option value="none">/assets/text/border_none.png</option>
        <option value="solid" selected="selected">/assets/text/border_solid.png</option>
        <option value="double">/assets/text/border_double.png</option>
        <option value="dashed">/assets/text/border_dashed.png</option>
        <option value="dotted">/assets/text/border_dotted.png</option>
      </select>
    </div>
    
		<!-- <div  class="selecter_item TBackground" title="Text Background"> -->
    <div  class="selecter_item TBackground">
      <select name="fontBackgroundColor" class="fontBackgroundColors">
        <option value="white" selected="selected" style="background-color:white" >/assets/text/color_white.png</option>
        <option value="silver" style="background-color:silver" >/assets/text/color_silver.png</option>
        <option value="black" style="background-color:black" >/assets/text/color_black.png</option>
        <option value="Transparent" style="background-color:Transparent" >/assets/text/color_none.png</option>
        <option value="navy" style="background-color:navy" >/assets/text/color_navy.png</option>
        <option value="red" style="background-color:red" >/assets/text/color_red.png</option>
      </select>
    </div>
    <button class="selecter_item btn btn-inverse OkButton">OK</button>    
    <div class="floatEnd"></div>
  </div>
</script>

</div>
