
<script type="text/template" id="character_picker_template">
  <aside class = "well sidebar-nav" id="character_picker" class="picker picker_elem">

    <ul class = "picker_list nav nav-list picker_elem">
      <li class="nav-header picker_elem">
        <button id="add_character_button" title="キャラクターの追加; New Character"><img src='/assets/novel/add_character.png'></buttton>
      </li>
    </ul>

    <button class="btn picker_cancel_button"><img src="/assets/novel/remove.png" ></button></li>
  </aside>
</script>

<script type="text/template" id="background_picker_template">
  <aside class = "well sidebar-nav" id="background_picker" class="picker picker_elem">

    <ul class = "picker_list picker_elem nav nav-list">
      <li class="nav-header picker_elem">
        <button id="add_background_button" class="picker_elem" title="`背景の追加; New Background"><img src='/assets/novel/add.png'></buttton>
      </li>
    </ul>

    <button class="btn picker_cancel_button"><img src="/assets/novel/remove.png" ></button></li>
  </aside>
</script>

<script type="text/template" id="music_picker_template">
  <aside class = "well sidebar-nav" id="music_picker" class="picker picker_elem">

    <ul class = "picker_list  picker_elem nav nav-list">
      <li class="nav-header picker_elem">
        <button id="add_music_button" class="picker_elem" title="音楽の追加; New BGM"><img src='/assets/novel/add.png'></buttton>
      </li>
    </ul>

    <button class="btn picker_cancel_button"><img src="/assets/novel/remove.png" ></button></li>
  </aside>
</script>

<script type="text/template" id="picker_template">
  <!-- picker menu  -->
  <aside class = "well sidebar-nav" id="picker">
      <ul>
        <li><a href="#list_tab"><i class="icon-user"></i>LIST</a></li>
        <li><a href="#upload_tab"><i class="icon-upload"></i>UPLOAD</a></li>
      </ul>
      <div id="list_tab">
        <ul id = "picker_list" class = "nav nav-list">
          <li class="nav-header">
            <button id="add_character_button" title="キャラクターの追加; New Character"><img src='/assets/novel/add_character.png'></buttton>
            <button id="add_background_button" title="`背景の追加; New Background"><img src='/assets/novel/add.png'></buttton>
            <button id="add_music_button" title="音楽の追加; New BGM"><img src='/assets/novel/add.png'></buttton>
          </li>
          
        </ul>
      </div>
      <div id="upload_tab">
        <ul id = "picker_upload" class = "nav nav-list" style="display:none" >
          <li class="nav-header">character File Upload</li>
          <input id="character_upload" type="file" name="image" data-url="/characters/0/images" multiple>

          <li class="nav-header">Music File Upload</li>
          <input id="music_upload" type="file" name="music" data-url="/background_musics" multiple>
      
          <li class="nav-header">Background File Upload</li>
          <input id="background_upload" type="file" name="image" data-url="/background_images" multiple>
        </ul>
        <button class="btn upload_button" id ="character_upload_button"><img src="/assets/novel/upload.png" ></button>
        <button class="btn upload_button" id ="background_upload_button"><img src="/assets/novel/upload.png" ></button>
        <button class="btn upload_button" id ="music_upload_button"><img src="/assets/novel/upload.png" ></button>
    </div>

      <button class="btn" id ="picker_cancel_button"><img src="/assets/novel/remove.png" ></button></li>
  </aside>
</script>

<script type="text/template" id="picker_item_template">
  <li>
    <ul class="image_list">
      <img class="picker_item list_header" >
      <button class="add_character_image_button" title="新規画像の追加; Upload New Image" style="display:none"><img  src="/assets/novel/add.png">
    </ul>
  </li>
</script>

<script type="text/template" id="chapter_handle_template">
  <div class="chapter_handle">
    <div class="chpter_handle_list"></div>
    <div class="buttons">
      <button id="preview_btn" class="btn" >Preview</button>>
    </div>
  </div>
</script>

<script type="text/template" id="font_selecter_template">
  <div class="font_selecter">
    <div class="floatEnd"></div>
    <div class="item_name selecter_item">item name</div>
    <div id="font_size_radio">
      <input type="radio" id="font_size_s" name="radio" /><label for="font_size_s">S</label>
      <input type="radio" id="font_size_m" name="radio" checked="checked" /><label for="font_size_m">M</label>
      <input type="radio" id="font_size_L" name="radio" /><label for="font_size_L">L</label>
      <input type="radio" id="font_size_XL" name="radio" /><label for="font_size_XL">XL</label>
    </div>
    <select name="fontSize" class="fontSizes selecter_item">
      <option value="8">8</option>
      <option value="10" selected="selected">10</option>
      <option value="12">12</option>
      <option value="14">14</option>
      <option value="16">16</option>
      <option value="18">18</option>
      <option value="20">20</option>
      <option value="24">24</option>
      <option value="28">28</option>
      <option value="32">32</option>
      <option value="36">36</option>
      <option value="40">40</option>
      <option value="44">44</option>
      <option value="48">48</option>
      <option value="54">54</option>
      <option value="62">62</option>
      <option value="72">72</option>
    </select>
    <select name="fontStyle" class="fontStyleTypes selecter_item">
    </select>
    <select name="fontFamily" class="fontFamilyTypes selecter_item">
    </select>
    <select name="fontColor" class="fontColors selecter_item">
      <option value="black" selected="selected" style="background-color:black" >black</option>
      <option value="gray" style="background-color:gray" >gray</option>
      <option value="silver" style="background-color:silver" >silver</option>
      <option value="white" style="background-color:white" >white</option>
      <option value="blue" style="background-color:blue" >blue</option>
      <option value="navy" style="background-color:navy" >navy</option>
      <option value="teal" style="background-color:teal" >teal</option>
      <option value="green" style="background-color:green" >green</option>
      <option value="lime" style="background-color:lime" >lime</option>
      <option value="aqua" style="background-color:aqua" >aqua</option>
      <option value="yellow" style="background-color:yellow" >yellow</option>
      <option value="red" style="background-color:red" >red</option>
      <option value="fuchia" style="background-color:fuchia" >fuchia</option>
      <option value="olive" style="background-color:olive" >olive</option>
      <option value="purple" style="background-color:purple" >purple</option>
      <option value="maroon" style="background-color:maroon" >maroon</option>
    </select>
    <select name="border" class="borderTypes selecter_item">
      <option value="none">None</option>
      <option value="solid" selected="selected">Solid</option>
      <option value="double">Double</option>
      <option value="groove">Groove</option>
      <option value="ridge">Ridge</option>
      <option value="inset">Inset</option>
      <option value="outset">OutSet</option>
      <option value="dashed">Dashed</option>
      <option value="dotted">Dotted</option>
    </select>
    <select name="borderWidth" class="borderWidths selecter_item">
      <option value="0">0</option>
      <option value="1" selected="selected">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <select name="borderRadius" class="borderRadiuses selecter_item">
      <option value="0">0</option>
      <option value="10">10</option>
      <option value="20" selected="selected">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="60">60</option>
      <option value="80">80</option>
      <option value="100">100</option>
    </select>
    <select name="fontBackgroundColor" class="fontBackgroundColors selecter_item">
      <option value="Transparent" style="background-color:Transparent" >Transparent</option>
      <option value="black" style="background-color:black" >black</option>
      <option value="gray" style="background-color:gray" >gray</option>
      <option value="silver" style="background-color:silver" >silver</option>
      <option value="white" selected="selected" style="background-color:white" >white</option>
      <option value="blue" style="background-color:blue" >blue</option>
      <option value="navy" style="background-color:navy" >navy</option>
      <option value="teal" style="background-color:teal" >teal</option>
      <option value="green" style="background-color:green" >green</option>
      <option value="lime" style="background-color:lime" >lime</option>
      <option value="aqua" style="background-color:aqua" >aqua</option>
      <option value="yellow" style="background-color:yellow" >yellow</option>
      <option value="red" style="background-color:red" >red</option>
      <option value="fuchia" style="background-color:fuchia" >fuchia</option>
      <option value="olive" style="background-color:olive" >olive</option>
      <option value="purple" style="background-color:purple" >purple</option>
      <option value="maroon" style="background-color:maroon" >maroon</option>
    </select>
    <div class="floatEnd"></div>
  </div>
</script>

<script type="text/template" id="effect_selecter_template">
  <div class="effect_selecter">
    <div class="floatEnd"></div>
    <div class="item_name selecter_item">item name</div>
    <select name="function" class="functionTypes selecter_item">
      <option value="none" selected="selected">None</option>
      <option value="effect">Effect</option>
      <option value="show">Show</option>
      <option value="hide">Hide</option>
    </select>
    <select name="effects" class="effectTypes selecter_item">
      <option value="none" selected="selected">None</option>
      <option value="blind">Blind</option>
      <option value="bounce">Bounce</option>
      <option value="clip">Clip</option>
      <option value="drop">Drop</option>
      <option value="explode">Explode</option>
      <option value="fade">Fade</option>
      <option value="fold">Fold</option>
      <option value="highlight">Highlight</option>
      <option value="puff">Puff</option>
      <option value="pulsate">Pulsate</option>
      <option value="scale">Scale</option>
      <option value="shake">Shake</option>
      <option value="size">Size</option>
      <option value="slide">Slide</option>
      <option value="transfer">Transfer</option>
    </select>
    <!-- 
    <select name="ease" class="easeTypes selecter_item">
      <option value="linear" >linear</option>
      <option value="swing" >swing</option>
      <option value="jswing" >jswing</option>
      <option value="easeInQuad" >easeInQuad</option>
      <option value="easeInCubic" >easeInCubic</option>
      <option value="easeInQuart" >easeInQuart</option>
      <option value="easeInQuint" >easeInQuint</option>
      <option value="easeInSine" >easeInSine</option>
      <option value="easeInExpo" >easeInExpo</option>
      <option value="easeInCirc" >easeInCirc</option>
      <option value="easeInElastic" >easeInElastic</option>
      <option value="easeInBack" >easeInBack</option>
      <option value="easeInBounce" >easeInBounce</option>
      <option value="easeOutQuad" >easeOutQuad</option>
      <option value="easeOutCubic" >easeOutCubic</option>
      <option value="easeOutQuart" >easeOutQuart</option>
      <option value="easeOutQuint" >easeOutQuint</option>
      <option value="easeOutSine" >easeOutSine</option>
      <option value="easeOutExpo" >easeOutExpo</option>
      <option value="easeOutCirc" >easeOutCirc</option>
      <option value="easeOutElastic" >easeOutElastic</option>
      <option value="easeOutBack" >easeOutBack</option>
      <option value="easeOutBounce" >easeOutBounce</option>
      <option value="easeInOutQuad" >easeInOutQuad</option>
      <option value="easeInOutCubic" >easeInOutCubic</option>
      <option value="easeInOutQuart" >easeInOutQuart</option>
      <option value="easeInOutQuint" >easeInOutQuint</option>
      <option value="easeInOutSine" >easeInOutSine</option>
      <option value="easeInOutExpo" >easeInOutExpo</option>
      <option value="easeInOutCirc" >easeInOutCirc</option>
      <option value="easeInOutElastic" >easeInOutElastic</option>
      <option value="easeInOutBack" >easeInOutBack</option>
      <option value="easeInOutBounce" >easeInOutBounce</option>
    </select>
    -->
    <input name="duration" class="durations selecter_item" value="500" size="4" maxlength="4">
    <div class="floatEnd"></div>
  </div>
</script>

<script type="text/template" id="text_menu_template">
  <div class="text_menu">
    <select name="fontFamily" class="fontFamilyTypes selecter_item">
        <option value="ＭＳ 明朝">ＭＳ 明朝</option>
        <option value="ＭＳ ゴシック">ＭＳ ゴシック</option>
    </select>
		<div name="fontColor" class="fontColors _wPaint_colorPicker selecter_item" title="Text Color"></div>

    <div  class="selecter_item" title="Text Size">
      <div class="font_size_radio" title="Text Size">
        <input type="radio" id="font_size_s" name="radio"  /><label value="8" for="font_size_s">S</label>
        <input type="radio" id="font_size_m" name="radio"  checked="checked" /><label value="12" for="font_size_m">M</label>
        <input type="radio" id="font_size_L" name="radio" /><label value="24" for="font_size_L">L</label>
        <input type="radio" id="font_size_XL" name="radio"  /><label value="48" for="font_size_XL">XL</label>
      </div>
    </div>

    <div  class="selecter_item" title="Line Style">
      <select name="border" class="borderTypes" >
        <option value="none">/assets/text/border_none.png</option>
        <option value="solid" selected="selected">/assets/text/border_solid.png</option>
        <option value="double">/assets/text/border_double.png</option>
        <option value="dashed">/assets/text/border_dashed.png</option>
        <option value="dotted">/assets/text/border_dotted.png</option>
      </select>
    </div>

    <div name="borderRadius" class="borderRadiuses" id="borderRadius" title="Line Radius">
	<input type='checkbox' id='rect_on'/><label for='rect_on'>  </label>
    </div>
    
    <div  class="selecter_item" title="Text Background">
      <select name="fontBackgroundColor" class="fontBackgroundColors">
        <option value="white" selected="selected" style="background-color:white" >/assets/text/color_white.png</option>
        <option value="silver" style="background-color:silver" >/assets/text/color_silver.png</option>
        <option value="black" style="background-color:black" >/assets/text/color_black.png</option>
        <option value="Transparent" style="background-color:Transparent" >/assets/text/color_none.png</option>
        <option value="navy" style="background-color:navy" >/assets/text/color_navy.png</option>
        <option value="red" style="background-color:red" >/assets/text/color_red.png</option>
      </select>
    </div>
    
    <div class="floatEnd"></div>
  </div>
</script>

