
<script type="text/template" id="tutorial_template">
  <div id="tutorial" title="チュートリアル:Tutorial">
    <button id="tutorial_back_button" class="btn" style="display: none">Back</button>
    <button id="tutorial_next_button" class="btn btn-success">Next</button>
    <hr>
    <br>
    <div id="tutorial_content">
      ecoMakiへようこそ！！
      Wellcome to ecoMaki !!
    </div>
  </div>
</script>

<script type="text/template" id="tutorial_template_0">
  ecoMakiへようこそ！！
  Wellcome to ecoMaki !!
</script>

<script type="text/template" id="tutorial_template_1">
  <p> 新しいチャプターを追加しましょう。</p>
  <button> <img src="/assets/novel/page_add_green.png"> </button>
  <p>を押してください。</p>
</script>

<script type="text/template" id="tutorial_template_2">
  <p>次に新しいコマを追加しましょう。</p>
  <button class="btn add_entry add_one_char" >
    <img src="/assets/novel/add_1_char_1_ball.png">
  </button>
  <button class="btn add_entry add_two_char" >
    <img src="/assets/novel/add_2_char_2_ball.png">
  </button>
  <button class="btn add_entry add_description">
    <img src="/assets/novel/add_description.png">
  </button>
  <p>どれかのボタンを押してください。最初は真ん中のボタンを押してみるのがよいでしょう。</p>
</script>

<script type="text/template" id="tutorial_template_3">
  <p>コマが追加されたら、キャラや吹き出しをドラッグして動かしてみましょう。</p>
</script>

<script type="text/template" id="tutorial_template_4">
  <p>セリフをクリックして編集してみてください。</p>
</script>

<script type="text/template" id="tutorial_template_5">
  <p>
    キャラクター画像を変更してみましょう。
    キャラクターをクリックすると右側にメニューが現れます。
    （最初は読み込みに少し時間がかかるかもしれません）
    </p>
</script>
  
  
<script type="text/template" id="tutorial_template_6">
  <p>
    新たに吹き出しやキャラクター画像を追加してみましょう。
    コマにカーソルを合わせて、
  </p>
  <button class="btn --btn-balloon" >
    <img src="/assets/novel/add_balloon.png">
  </button>
  <button class="btn --btn-picture" >
    <img src="/assets/novel/add_character.png">
  </button>
  <p> を押してみましょう。</p>
</script>

<script type="text/template" id="tutorial_template_7">
  <p>
  画像の上から絵を描いてみましょう。
  コマにカーソルを合わせて、
  </p>
  <button class="btn --btn-layer" >
    <img src="/assets/novel/pencil.png">
  </button>
  <p> 
    を押してみましょう。青くなったら描画レイヤーが一番上に来ます。
    上から色々書いてみましょう。画面上のメニューで描画ツールや描画色、ブラシ太さ、透明度が変えられます。
  </p>
</script>

<script type="text/template" id="tutorial_template_8">
  <p>
    キャラやセリフを描画した絵の前面に持ってくる場合はもう一度
  </p>
  <button class="btn btn-primary --btn-layer" >
    <img src="/assets/novel/pencil.png">
  </button>
  <p>
    を押して描画レイヤーを下に移動します。
    そうでない場合はこのままで構いません。
  </p>

</script>

<script type="text/template" id="tutorial_template_9">
  <p>
  　コマの順番を変えてみましょう。
  　コマにカーソルを合わせて
  </p>
  <i class="icon-move" /> 
  <p>を上下にドラッグしてみましょう</p>
</script>

<script type="text/template" id="tutorial_template_10">
  <p>背景を設定してみましょう</p>
   <button class="background_icon icon">
     <img src="/assets/novel/background_2.png" />
   </button>
  <p>
    を押して一覧から選択するだけです。（初回は読み込みに時間がかかるかもしれません）
    もちろん画像をアップロードする事も可能です。
  </p>
</script>

<script type="text/template" id="tutorial_template_11">
  <p>BGMを設定してみましょう</p>
   <button class="background_icon icon">
     <img src="/assets/novel/Sound.png" />
   </button>
  <p>を押して一覧から選択するだけです。もちろんBGMをアップロードする事も可能です。</p>
</script>


<script type="text/template" id="tutorial_template_12">
  <p>プレヴューしてみましょう。右上の</p>
   <button >
     <img src="/assets/novel/preview.png" />
   </button>
  <p>を押してみてください。</p>
</script>

<script type="text/template" id="tutorial_template_13">
  <p>完成したら、公開しましょう！</p>
  <button class="btn btn-info" width="80px" >
    <img src="/assets/novel/publish.png">
    <p>PUBLISH</p>
  </button>
  <p>を押してみてください。</p>
  <h3>ただし、その前にこのページをブックマークしてください。忘れると編集できなくなります。</h3>
</script>

