
<script type="text/template" id="tutorial_template">
  <div id="tutorial" title="チュートリアル:Tutorial">
    <div id="tutorial_content">this is tutorial</div>
    <button id="tutorial_back_button" class="btn" >Back</button>
    <button id="tutorial_next_button" class="btn btn-success" >Next</button>
  </div>
</script>

<script type="text/template" id="tutorial_template_0">
  this is tutorial
</script>

<script type="text/template" id="tutorial_template_1">
  <p> 新しいチャプターを追加しましょう。</p>
  <button> <img src="/assets/novel/page_add_green.png"> </button>
  <p>を押してください。</p>
</script>

<script type="text/template" id="tutorial_template_2">
  <p>次に新しいコマを追加しましょう。</p>
  <button class="btn add_entry add_one_char" >
    <img src="/assets/novel/add_1_char_1_ball.png">
  </button>
  <button class="btn add_entry add_two_char" >
    <img src="/assets/novel/add_2_char_2_ball.png">
  </button>
  <button class="btn add_entry add_description">
    <img src="/assets/novel/add_description.png">
  </button>
  <p>どれかのボタンを押してください。最初は真ん中のボタンを押してみるのがよいでしょう。</p>
</script>

<script type="text/template" id="tutorial_template_3">
  <p>コマが追加されたら、キャラや吹き出しをドラッグして動かしてみましょう。</p>
</script>

<script type="text/template" id="tutorial_template_4">
  <p>セリフをクリックして編集してみてください。</p>
</script>

<script type="text/template" id="tutorial_template_5">
  <p>
    キャラクター画像を変更してみましょう。
    キャラクターをクリックすると右側にメニューが現れます。
    （最初は読み込みに少し時間がかかるかもしれません）
    </p>
</script>
  
  
<script type="text/template" id="tutorial_template_6">
  <p>
    新たに吹き出しやキャラクター画像を追加してみましょう。
    コマにカーソルを合わせて、
  </p>
  <button class="btn --btn-balloon" >
    <img src="/assets/novel/add_balloon.png">
  </button>
  <button class="btn --btn-picture" >
    <img src="/assets/novel/add_character.png">
  </button>
  <p> を押してみましょう。
</script>

<script type="text/template" id="tutorial_template_7">
  <p></p>
</script>

<script type="text/template" id="tutorial_template_8">
  <p></p>
</script>

<script type="text/template" id="tutorial_template_9">
  <p></p>
</script>
<script type="text/template" id="tutorial_template_6">
  <p></p>
</script>
