<div id="novel_container">
  <aside id="chaptermenu">
    <ul>
      <li>Chapter1</li>
      <li>Chapter2</li>
      <li>Chapter3</li>
      <li>Chapter4</li>
      <li>Chapter5</li>
    </ul>
  </aside>
  
  <div id="content">
  </div>
</div>
