<div id="novel_container">
  <aside id="chaptermenu">
    <ul>
      <li>Chapter1</li>
      <li>Chapter2</li>
      <li>Chapter3</li>
      <li>Chapter4</li>
      <li>Chapter5</li>
    </ul>
  </aside>
  
  <div id="content">
    <div>
      <h2>novel title</h2>
      <p> novel description </p>
    </div>
    <div id="entrylist">
      <textarea id="inputform" class = "span8" rows="3"></textarea>
    </div>
  </div>
  <div>
    <div>
      <p>comment</p>
    </div>
    <div id = commentList>
    	<textarea id="comment" class = "span6" rows="2"></textarea>
    </div>
  </div>
</div>
