<div id="novel_container">
  <aside id="sideMenu" >
    <ul class = "well sidebar-nav" id = "chapterList">
      <li class="nav-header">Chaptor List</li>
      <li class="ui-state-default">
         <div><span class="ui-icon ui-icon-triangle-1-e"></span><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></div>
	 <a href="#">Chapter1</a>
         <i class="icon-pencil"></i>
      </li>

      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><a>Chapter2</a></li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><a>Chapter3</a></li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><a>Chapter4</a></li>
      <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><a>Chapter5</a></li>
    </ul>
  </aside>
  <aside class = "well sidebar-nav" id="picker">
    <ul id = "pickerList" class = "nav nav-list">
      <li class="nav-header">New File Upload</li>
      <input id="character_upload" type="file" name="character_image" data-url="/characters" multiple>
      <li class="nav-header">Selecct Image from Libraly</li>
      <li><button class="btn" id ="pickerCancelBtn">cancel</button></li>
    </ul>
  </aside>

  <div id="content">
    <div>
      <h2>novel title</h2>
      <p> novel description </p>
    </div>
    <ul id="entrylist"></ul>
      <div id='inputArea'>
        <textarea id="inputform" class = "span6" rows="2"></textarea>
        <textarea id="textInputform" class = "span6" rows="3"></textarea>
      </div>
    
  </div>
  
  <p>comment</p>
  <div id = "commentList">
    <textarea id="comment" rows="3"></textarea>
  </div>

</div>
