
.chapter_header {
  background: rgba(255,255,255,0.6);
}


.title {
    font-size: 24px; 
    line-height: 1.5em;
    position: relative;
}

.title .text_help {
    font-size: 16px; 
    line-height: 1.5em;
    //background: #eee;
    font-color: #444;
    margin: 1px;
}


.description {
    font-size: 12px;
    line-height: 1.5em;
    position: relative;
}

.description .text_help {
    font-size: 12px; 
    line-height: 1.5em;
    //background: #ddd;
    font-color: #333;
    margin: 1px;
}


hr {
  height: 2px;
  margin: 2px;
  background: gray;
}
