.chapter_buttons button{
  height: 64px;
  min-width: 128px;
}



.background_icon:hover{
//  background: green;
}

.music_icon:hover{
//  background: blue;
}

.top_control{
  position: absolute;
  //top: 0px;
  right: 2px;
  z-index: 99;
}

.top_control .icon{
  height: 64px;
  width: 64px;
  cursor:pointer;
}

.bottom_control{
  text-align: right;
  z-index: 99;
}

.bottom_control .icon{
  //height: 48px;
  //width: 48px;
  cursor:pointer;
}

hr {
  height: 2px;
  margin: 2px;
  background: gray;
}
