body{
  padding-top: 120px;
}


#title textarea {
    font-size: 24px; 
    line-height: 1.5em;
}


#descriotion textarea {
    font-size: 12px;
    line-height: 1.5em;
}


#author {
    cursor:pointer;
}

.author textarea {
    font-size: 24px; 
    line-height: 1.5em;
    text-align:center;
    z-index: 99;
}

#title , .title{
    cursor:pointer;
}

.title textarea {
    font-size: 24px; 
    line-height: 1.5em;
    text-align:center;
    z-index: 99;
}

#description , .description {
    cursor:pointer;
}

.descriotion textarea {
    font-size: 12px;
    line-height: 1.5em;
    text-align:center;
    z-index: 99;
}

#title:hover {
  background: #ede;
}

#description:hover {
  background: #dee;
}

#author:hover {
  background: #eed;
}

.title:hover {
  background: #ede;
}

.description:hover {
  background: #dee;
}


// for top menu button

#tutorial_button 
, #publish_button 
, #preview_button{
  font-size: 20;
  position: fixed;
  top:40px;
  height: 66px;
  z-index: 99999;
}
#tutorial_button {
  left: 0px;
  z-index: 1;
}
.tutorial_dialog {
  z-index: 99999;
}

#preview_button{
  right: 80px;
}
#preview_button img {
  width: 30px;
  height: 30px;
}

#publish_button {
  right: 0px;
  height:56px;
}

//novel

.novel_buttons {
  text-align: right;
}

#add_chapter{
  //position: absolute;
  right: 2px;
}

// chapter


.chapter_buttons button{
  height: 64px;
  min-width: 128px;
}

.top_control{
  position: absolute;
  right: 2px;
  z-index: 99;
}

.top_control .icon{
  height: 44px;
  width: 48px;
  cursor:pointer;
}

.bottom_control{
  text-align: right;
  z-index: 99;
}

.bottom_control .icon{
  cursor:pointer;
}

.add_chapter {
  height: 48px;
  width: 48px;
}

hr {
  height: 2px;
  margin: 2px;
  background: gray;
}

// entnryItem

.item {
  cursor:pointer;
}

.item-remove {
  position: absolute;
  right: 0;
  top: 0px;
}

.item-background {
  position: absolute;
  left: 0px;
  top: 0;
}

.sticky textarea{
text-align: center;
vertical-align: middle;
}


canvas {
    z-index: 0;
}

.paint{
  cursor: crosshair;
}

.entry .hide_buttons {
  background-color: #eef;
  position: absolute;
  //float: right;
  list-style:none;
  //  left: 800px;
  top: 0px;
}


.entry .hide_buttons button{
  height: 34px;
  width: 46px
}

.entry .hide_buttons button img{
}


// Tutorial Dialog

.tutorial_box{
  top: 40px;
  left: 0px;
}
