
#title textarea {
    font-size: 24px; 
    line-height: 1.5em;
}


#descriotion textarea {
    font-size: 12px;
    line-height: 1.5em;
}


.title .text_help {
    cursor:pointer;
}

.title textarea {
    font-size: 24px; 
    line-height: 1.5em;
    text-align:center;
    z-index: 99;
}

.description .text_help {
    cursor:pointer;
}

.descriotion textarea {
    font-size: 12px;
    line-height: 1.5em;
    text-align:center;
    z-index: 99;
}

.title:hover {
  background: #eee;
}

.description:hover {
  background: #eee;
}

// for side button

#preview {
  font-size: 20;
  position: fixed;
  right: 0px;
  top:40px;
  width: 80px;
  height: 80px;
  z-index: 99999;
}

#publish {
  font-size: 20;
  position: fixed;
  right: 0px;
  top:120px;
  width: 80px;
  height: 30px;
  z-index: 99999;
}

#preview img{
  height: 60px;
  width: 60px;
}



// chapter


.chapter_buttons button{
  height: 64px;
  min-width: 128px;
}

.top_control{
  position: absolute;
  right: 2px;
  z-index: 99;
}

.top_control .icon{
  height: 60px;
  width: 64px;
  cursor:pointer;
}

.bottom_control{
  text-align: right;
  z-index: 99;
}

.bottom_control .icon{
  //height: 48px;
  //width: 48px;
  cursor:pointer;
}

hr {
  height: 2px;
  margin: 2px;
  background: gray;
}

// entnryItem

.item {
  cursor:pointer;
}

.item-button {
  position: absolute;
  left: 0px;
  top: 0px;
}

.sticky textarea{
text-align: center;
vertical-align: middle;
}


canvas {
    z-index: 0;
}

.paint{
  cursor: crosshair;
}

.entry .hide_buttons {
  background-color: #eef;
  position: absolute;
  //float: right;
  list-style:none;
  //  left: 800px;
  top: 0px;
}


.entry .hide_buttons button{
  height: 40px;
  width: 40px
}

.entry .hide_buttons button img{
  height: 100%;
  width: 100%;
}
