body{
  padding-top: 120px;
}


#author_name {
    cursor:pointer;
}


#title , .title{
    cursor:pointer;
}


#description , .description {
    cursor:pointer;
}


#title:hover {
  background: #eee;
  color:black;
}

#description:hover {
  background: #eee;
  color:black;
}

#author_name:hover {
  background: #eee;
  color:black;
}

.title:hover {
  background: #ede;
}

.description:hover {
  background: #dee;
}




//novel

.novel_buttons {
  text-align: right;
}

#add_chapter{
  //position: absolute;
  right: 2px;
}

// chapter


.chapter_buttons button{
  height: 64px;
  min-width: 128px;
}

.top_control{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 99;
}

.top_control .icon{
  height: 44px;
  width: 48px;
  cursor:pointer;
}

.bottom_control{
  text-align: right;
  z-index: 99;
}

.bottom_control .icon{
  cursor:pointer;
}

.add_chapter {
  height: 48px;
  width: 48px;
}

hr {
  height: 2px;
  margin: 2px;
  background: gray;
}

.chapter .chapter_wrapper{
  position:relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px silver dashed ;
}

.new_chapter_handle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 16px;
  cursor:pointer;
  border: 1px silver dashed ;
  color: gray;
}

.new_chapter_handle:hover{
  background: #fed;
  cursor:pointer;
  color: black;
}


// entnryItem

.balloon {
  cursor:pointer;
}

.character {
  cursor:pointer;
}

.target_balloon {
  height: 100%;
  width: 100%;
  position: absolute;
  // offset to ajust balloon
  top: -2px;
  left: -2px;
  //default hide
  z-index: -100;
}

.target_on {
  border: 2px dotted lime;
}

.item_remove {
  position: absolute;
  right: 0;
  top: 0px;
}

.item_background {
  position: absolute;
  left: 0px;
  top: 0;
}

.default_item {
  opacity: 0.5;
}

.default_item:hover {
  opacity: 1;
}

.ui-editable-icon {
  position: absolute;
  cursor:pointer;
}

.icon_remove {
  right: 0;
  top: 0px;
}

.icon_rotate {
  position:absolute;
  left:55%;
  top: 0px;
  margin:0px;
}

.ui-rotatable-handle {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: black;
    //left: 2px;
    //bottom: 2px;
}

.item_refrect {
  position:absolute;
  top:0px;
  left:40%;
  margin:0px;
}

.ui-editable-selected {
  border: 2px #bde9ba dotted;
}

//entry

canvas {
    z-index: 0;
}

.paint{
  cursor: crosshair;
}

.entry .hide_buttons {
  background-color: #eef;
  position: absolute;
  //float: right;
  //width: 40px;
  list-style:none;
  //  left: 800px;
  top: 0px;
}

.new_entry_handle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 16px;
  cursor:pointer;
  border: 1px silver dotted ;
  color: gray;
  bottom: 10px;
}

.new_entry_handle:hover{
  background: #dfe;
  cursor:pointer;
  color: black;
}

.entry .hide_buttons button{
  height: 34px;
  width: 46px
}

.entry .hide_buttons button img{
}

.entry .entry_handle {
  cursor:n-resize;
}

// Tutorial Dialog

.tutorial_box{
  top: 40px;
  left: 0px;
}
