// Place all the styles related to the Novel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#entrylist {
	   position: relative;
}


.entry {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.entry .entry_wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.new_entry_handle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 16px;
}

.entry_content {
  background: url("/assets/entry/entry_background.png"); 
  position: absolute;
  left: 0px;
  top: 0px;
//  width: 800px;
//  height: 300px;
  border-radius: 2px;         /* CSS3 */
  -moz-border-radius: 2px;    /* Firefox */
  -webkit-border-radius: 2px; /* Safari,Chrome */
  border: 1px gray ridge;
  overflow: hidden;
}

.add_default_character_icon{
  z-index: 999;
  position: absolute;
  width: 128px;
  height: 128px;
  top: 50%;
  left: 30%;
  margin-top: -64px;
  margin-left: -64px;
  background: url(/assets/novel/add_character.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.add_default_character_icon p{
  display:table-cell; 
  vertical-align: middle; 
  width: 128px;
  height: 128px;
}

.add_default_balloon_icon{
  z-index: 999;
  position: absolute;
  width: 128px;
  height: 128px;
  top: 50%;
  left: 70%;
  margin-top: -64px;
  margin-left: -64px;
  background: url(/assets/novel/add_balloon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.add_default_balloon_icon p{
  display:table-cell; 
  vertical-align: middle; 
  width: 128px;
  height: 128px;
}
