

.item-button {
  position: absolute;
  left: 0px;
  top: 0px;
}

.baloon {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;         /* CSS3 */
   -moz-border-radius: 20px;    /* Firefox */
   -webkit-border-radius: 20px; /* Safari,Chrome */

   border: 1px black solid;
   //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.sticky{
  position: absolute;

  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;         /* CSS3 */
   -moz-border-radius: 20px;    /* Firefox */
   -webkit-border-radius: 20px; /* Safari,Chrome */


   border: 1px black solid;
   //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.sticky .text{
  display: table-cell;
  vertical-align: middle;

}

* html .sticky .text {/* IE 6 */
display:inline;
zoom:1;
}

*:first-child+html .sticky .text{/* IE 7 */
display:inline;
zoom:1;
}
.image{
	position: absolute;
	top: 10;
	left: 10;
	eight: 100px;
	width: 100px;
  cursor: pointer;
}

.sticky textarea{
text-align: center;
vertical-align: middle;
}


