.init_form {
  position: fixed;
  background: white;
  top: 60px;
  left: 30%;
  z-index: 999999;
  border: 2px solid gray;
}


.init_form .control-group{
  margin: 30px;
}

.init_form .control-group div{
  margin-bottom: 20px;
}

#top_menu{
  padding-top: 0px;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  width:1024px;
}

//Logo

#top_pane{
  padding-top: 20px;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  height:300px;
}

#logo{
  width: 600px;
  top: 100px;
  left: 20px;
  //margin-top:auto;
  //margin-bottom:auto;
  position:absolute;
  //position: relative;
}

#side_logo{
  margin-top:auto;
  margin-bottom:auto;
  height: 256px;
  right: 16px;
  position:absolute;
  visibility:hidden;
}

#create_button{
  cursor:pointer;
  height: 256px;
  width:256px;
  display:block;
  background-image: url(/assets/top/simple_edit_joined.png);
  
  top:50px;
  //margin-top:auto;
  //margin-bottom:auto;
  right: 100px;
  position:absolute;
  //position: relative;
  //margin-left: 80px;
}

#create_button:hover{
  background-position: 0 256px;
}

#top_hedder{
  margin-left: 80px;
  margin-bottom: 100px;
}


#top_hedder h1{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
}

// Novel List
.novel_list{
  margin-right:auto;
  margin-left:auto;
}

.novel_list_item{
  border: 1px solid gray;
  gargin: 2px;
  max-height: 100px; 
  overflow: hidden;
}

.novel_list_title{
 max-height: 60px;
}
.novel_list_description{
 max-height: 40px;
}

.novel_list_item:hover{
  background: gray;
}

.novel_list_item h2 , .novel_list_item p{
  margin: 10px;
}
