body{

  padding-top: 40px;
}

#top_icon {
  position: absolute;
  height: 40px;
}

.-navbar-inner {
  height: 40px;
  cursor: pointer;
  border-radius: 10px;         /* CSS3 */
 //  -moz-border-radius: 10px;    /* Firefox */
 //  -webkit-border-radius: 10px; /* Safari,Chrome */
 background-color: #2C2C2C;
 background-image: -moz-linear-gradient(top,#433,#232);
 background-image: -ms-linear-gradient(top,#433,#232);
 background-image: -webkit-gradient(linear,0 0,0 100%,from(#433),to(#232));
 background-image: -webkit-linear-gradient(top,#433,#232);
 background-image: -o-linear-gradient(top,#433,#232);
 background-image: linear-gradient(top,#433,#232);
 background-repeat: repeat-x;
}

.ninja_onebutton{
  //folat: right;
  position: absolute;
  right: 50px;
  padding-top: 4px;
}

