// Place all the styles related to the Novel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#novel_container {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  /* またはabsolute; */
  top: 0;
  left: 0;
  z-index: -1;
}

#content{
  margin-left: auto;
  margin-right: auto;
  //position: absolute;
	position: relative;
}

#title {
    font-size: 24px; 
    line-height: 1.5em;
    position: relative;
}

#title textarea {
    font-size: 24px; 
    line-height: 1.5em;
}

#description {
    font-size: 12px;
    line-height: 1.5em;
    position: relative;
}

#descriotion textarea {
    font-size: 12px;
    line-height: 1.5em;
}


.title {
    font-size: 24px; 
    line-height: 1.5em;
    position: relative;
    cursor:pointer;
}

.title .text_help {
    font-size: 12px; 
    line-height: 1.5em;
    //background: #eee;
    font-color: #444;
    margin: 1px;
    cursor:pointer;
}

.title textarea {
    font-size: 24px; 
    line-height: 1.5em;
    text-align:center;
    z-index: 99;
}

.description {
    font-size: 12px;
    line-height: 1.5em;
    position: relative;
    cursor:pointer;
}

.description .text_help {
    font-size: 12px; 
    line-height: 1.5em;
    //background: #ddd;
    font-color: #333;
    margin: 1px;
    cursor:pointer;
}

.descriotion textarea {
    font-size: 12px;
    line-height: 1.5em;
    text-align:center;
    z-index: 99;
}

.title:hover {
  background: #eee;
}

.description:hover {
  background: #eee;
}


#entrylist {
	   position: relative;
}




#sideMenu {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 200px;
    //height: 500px;
    z-index: 5;
}


#chapterList { list-style-type: none; margin: 0; padding: 0;  }
#chapterList li {  margin: 0 3px 3px 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
#chapterList li span { float: left; width: 10% }



// for side button

#preview {
  width: 100px;
  height:100px;
  font-size: 20;
  position: fixed;
  right: 0px;
  top:40px;
  z-index: 999;
}

.side_buttons {
  list-style:none;
  position: fixed;
  right: 0px;
  top:40px;
  z-index: 999;
}

.side_buttons button {
  width: 100px;
  height:100px;
}

.ui-tooltip {
  z-index: 999999;
  // box-shadow: 0 0 7px black;
}
