// Place all the styles related to the Novel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  padding-top: 40px;
}

.novel_container {
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}


.background {
  /* Set rules to fill background */
  min-height: 50%;
  //min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  /* またはabsolute; */
  //bottom: 0;
  //padding-top: 50%;
  //margin-top: -400px; 
  top: 0;
  left: 0;
  z-index: -1;
}

#content{
  margin-left: auto;
  margin-right: auto;
  //position: absolute;
	position: relative;
}

#novel_header {
  margin-top: 30px;
  margin-bottom: 30px;
  background: rgba(245,245,245,0.75);
}

#title {
    font-size: 32px; 
    line-height: 1.5em;
    position: relative;
}

#description {
    font-size: 12px;
    line-height: 1.5em;
    position: relative;
}

#author {
    font-size: 24px; 
    line-height: 1.5em;
    position: relative;
}

#author .text_help {
    font-size: 16px; 
    line-height: 1.5em;
    font-color: #444;
    margin: 1px;
}

#entrylist {
	   position: relative;
}




#sideMenu {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 200px;
    //height: 500px;
    z-index: 5;
}


//Side Button

.side_buttons {
  list-style:none;
  position: fixed;
  right: 0px;
  top:40px;
  z-index: 999;
}

.side_buttons input {
  width: 100px;
  height:100px;
}


.clone_button{
  cursor:pointer;
  height: 256px;
  width:256px;
  display:block;
  background-image: url(/assets/top/edit_button_joined.png);
}

.clone_button:hover{
  background-position: 0 256px;
}


// tool tip

.ui-tooltip {
  z-index: 999999;
  // box-shadow: 0 0 7px black;
}
