#chapter_handle {
  position: fixed;
  width: 200;
}

.chapter_handle_item {
  border: 1px gray solid;
  margin: 2px;
}

.picker {
  position: fixed;
  top:0px;
  width: 300px;
  height: 101%;
  overflow: scroll;
  z-index: 999999;
  padding: 10px;
}

.picker_list {
  padding-left: 5px;
  padding-right: 5px;
}

hr {
  clear: left;
}

.picker_item {
  clear: left;
  position: relative;
}

.picker_item:hover {
  background: white;
  //margin: 10px;
  border: 2px gray solid; 
  cursor:pointer;
}

.picker_text_item:hover {
  background: silver;
  //margin: 10px;
  border: 2px white solid; 
  cursor:pointer;
}

.add_character_image_button {
  position: absolute;
  right : 0px;
  top: 6px;
}

.picker_image_item {
  max-width: 30%;
  float:left;
  margin: 3px;
  //max-height: 100px;
}

.picker_image_item img{
  width: 100%;
}
.picker_image_item:hover {
  background: silver;
  border: 3px gray solid; 
  cursor:pointer;
  margin: 0px;
}

.list_header_button {
  width: 64px;
  height: 64px;
  float: left;
}

.list_header_text{
  float: left;
  margin-left: 10px;
}

.floatEnd{
  clear: left
}

.upload_form {
  position: fixed;
  background: white;
  top: 60px;
  left: 30%;
  z-index: 999999;
  border: 2px solid gray;
}


.upload_form .control-group{
  margin: 30px;
}

.upload_form .control-group div{
  margin-bottom: 20px;
}
