//=require ./novel
//=require ./chapter
//=require ./entry
//=require ./entryItem

#comments_list{
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  position: relative;
}

hr {
  position: relative;
}

.time {
  color:gray;
}

.comment {
  margin: 10px;
}

.comment .box{
  width: 480px;
  border: solid gray 1px;
}

.comment p{
  margin: 10px;
}

.share_buttons{
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  z-index: 999;
  position:relative;
  text-align: center;
}

.under_edit{
  position:relative;
  background-color: #222;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
}

.under_edit_button{
  font-size: 24px;
}

.under_edit_button img{
  width: 48px;
  height: 48px;
}
