//=require ./novel
//=require ./chapter
//=require ./entry
//=require ./entryItem

.share_buttons{
//  background-color: #888;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

.under_edit{
  background-color: #222;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

.under_edit_button{
  font-size: 24px;
}

.under_edit_button img{
  width: 48px;
  height: 48px;
}
