// Text tool style

.text_menu{
  position: absolute;
  box-shadow:3px 3px 5px #555555; 
  //width: 250px;
  // height: 100px;
  background: gray;
  //margin : 10px;
  font-size: 10px;
  //min-height: 24px;
	width: 350px;
	height: 70px;
}

.text_menu fontColor{
  //width: 400px;
  //height: 100px;
}

.text_menu .selecter_item{
  //position: relative;
  //float:left;
}

.text_menu .fontFamilyTypes {
  width: 150px;
	position: absolute;
	left: 43px;
	top: 5px;
} 

.text_menu #font_family{
  width: 100px;
}

.text_menu .fontColors{
	position: absolute;
	left: 5px;
	top: 6px;
}

.text_menu .selecter_item.TSize{
	position: absolute;
	left: 205px;
	top: 5px;
}

.text_menu .borderRadiuses{
	position: absolute;
	left: 38.5px;
	top: 40px;
}

#textMenu .text_menu #borderRadius label.ui-state-default{
	width:24px;
	height:24px;
	background:url(/assets/text/rect_off.png) center no-repeat;
}

#textMenu .text_menu #borderRadius label.ui-state-active{
	background:url(/assets/text/rect_on.png) center no-repeat;
}

.text_menu .selecter_item.LStyle{
	position: absolute;
	left: 78.5px;
	top: 40px;
}

.vhButton{
	position: absolute;
	left: 210px;
	top: 40px;
  color:white;
}
.text_menu .selecter_item.TBackground{
	position: absolute;
	left: 8.5px;
	top: 43px;
}

.selecter_item.OkButton{
  position: absolute;
  right: 11px;
  top: 39px;
  width: 80px;
}
