
#toolbox{
  position: fixed;
  padding:1px; 
  height:67px;
  right:100px;
  top: 40px;
	background: url('/assets/paint/toolbox/base/dark_gray.png') no-repeat;
  z-index:99999;
}


.itemEffectSelecters { position: absolute; }


#toolbox .selecter_item{
  width: 80px;
  float: left;
  margin-bottom: 2px;
  //clear: left;
}

._tool_menu .floatEnd{
  clear: left
}

._tool_options{float:left;padding: 2px;}

#toolbox .ui-widget-header {
	background: transparent;
	border: none;
}

#toolbox .ui-tabs-nav li a{
	color: #FF0000;
	border: none;
}

#toolbox .ui-tabs-nav li.ui-tabs-selected a{
	background-color: #00FF00;
	border: none;
	padding: none;
}

#toolbox .ui-state-default{
	border: none;
}

#toolbox .ui-state-hover{
	background-color: transparent;
	/*background: rgba(0,0,0,0);*/
}

#toolbox .ui-state-active{
}

#toolbox .ui-tabs-panel {
	border: none;
}
