<div class="help_content" 
  style="font-size:18px; line-height:1.8; width:480px; margin:auto">
<div class="article content" >

<%= javascript_include_tag 'htag2index' , :defer=>"defer" %>

<style type="text/css">
<!--
#toc {
  padding:5px 0 25px;
}
 
ol.chapter {
  display:block;
  font-size:14px;
  padding:3px 20px;
}
  
ol.chapter li {
  list-style:circle;
}
-->
</style>


<br/>

<div id="toc"></div>


<h2 id="new_novel">作品の作りはじめ方 </h2>
まずはトップページから「作品を作る！」ボタンを押しましょう。
<br/>
<br/>
<img src="/assets/explain/create_novel.png">
<br/>
<br/>
次に、使うテンプレートを選択します。
<br/>
<img src="/assets/explain/select_page_template.png">
<br/>
<br/>
「４コマ」を押すと、ランダムで生成した４コマが入力されますのでお勧めです。
<br/>
<br/>

作成画面が表示されたら、編集を始めましょう。
<br/>
<img src="/assets/explain/first.png">
<br/>

<br/>
<br/>

<h2 id="add_new_entry_handle">コマの追加</h2>
吹き出しの下の新規コマ追加を押すと新しいコマがランダムに追加されます。
<br/>
<img src="/assets/explain/new_entry_handle.png">
<br/>

<h2 id="edit_entry">コマの編集</h2>
コマにカーソルを合わせると、コマ編集メニューがコマの横に表示されます。
<br/>
<img src="/assets/explain/menu_entry.png">
<br/>

<br/>
<h3>コマのソート</h3>
メニューの上部のハンドルをドラッグして上下に動かすとコマの順序を入れ替える事が出来ます。
<br/>

<img src="/assets/explain/sort_1.png">
<br/>

<br/>

<h3>コマの削除</h3>
メニューの２番目のコマの削除を押すと、コマが削除されます。
<br/>

<br/>
<h3>吹き出しの追加</h3>
メニューの３番目の吹き出しの追加を押すと、コマの内部に吹き出しが追加されます。
<br/>

<img src="/assets/explain/add_balloon2.png">
<br/>

ダブルクリックすればセリフを編集できます。
</br>
セリフ編集メニューでは、セリフの色や枠線の種類も選択可能です。
</br>
<img src="/assets/explain/edit_balloon.png">
</br>
</br>
また、吹き出しは、ドラッグして配置を変えたり、拡大縮小、角度の変更が可能です。
<br/>
吹き出しにカーソルを合わせると、画像設定、回転、削除用のボタンが上部に表示されます。
<br/>

<br/>
<h3>キャラクター画像の追加と編集</h3>
<h4> 画像の選択 </h4>
メニューの４番目のキャラクター画像の追加を押すと、画像の選択メニューが表示されます。
<br/>
<img src="/assets/explain/picker2.png">
<br/>
<br/>

表示されているキャラクターの一覧からキャラクターを選択すると、そのキャラクターの画像が表示されるので、そこから画像を選択します。
<br/>
アップロードについては<a href="#upload_image">アップロードの項</a>を参照してください。
<img src="/assets/explain/picker2_2.png">
<br/>
<br/>
既にコマ内に追加されている画像はダブルクリックで画像の選択メニューが開けます。
<br/>


<br/>
また、キャラクター画像は、ドラッグして配置を変えたり、拡大縮小や反転、角度の変更が可能です。
<br/>
キャラクター画像にカーソルを合わせると、削除、反転、回転用のボタンが上部に表示されます。
<br/>
拡大縮小する時は画像の縁にカーソルを合わせてドラッグしてください。
<br/>
<br/>
<br/>
<h4> 画像の反転 </h4>
画像の上部にある左右反転ボタンを押すと画像が反転します。
<br/>
<img src="/assets/explain/reflect2.png">
<br/>

<br/>
<br/>
<h4> 画像の回転 </h4>
画像の上部にある回転ハンドルをドラッグすると画像が回転します。
<br/>
<img src="/assets/explain/rotate2.png">
<br/>


<br/>
<br/>

<h3>ペンで描く</h3>
コマメニューのペンを選択するとボタンが青くなり、ペンで上からコマに描き加える事が出来るペイントモードになります。もう一度ペンのボタンを押すとペイントモードが解除されます。
<br/>
<img src="/assets/explain/paint2.png">
<br/>
ペイントモードの時は吹き出しやキャラクター画像の操作は出来ません。
<br/>
ペイントモードを終了するとペンで描いた絵は最背面に移動し、吹き出しの編集等が可能になります。
<br/>
最終的にペンで描いた部分を吹き出しやキャラクター画像の上に被せておきたい場合は、ペイントモードのままにしてください。
<br/>
<br/>

ペンの描画色の変更や、ペンの太さの変更は上部のメニューのペイントツールタブから行います。
<br/>
<img src="/assets/explain/menu_draw2.png">
<br/>

<br/>
<br/>


<h3>コマの複製</h3>
コマメニューの６番目のコマの複製を押すと、コマがすぐ下に複製されます。
<br/>

<br/>
<br/>

<h2>アニメーションの設定</h2>
コマ内の要素にはアニメーションの設定が可能です。（一部スマートフォンなどでは正しく動作しない可能性があります）
吹き出しやキャラクター画像をクリックしたり、ドラッグしたりすると、緑の点線で選択されている事が示されます。
<br/>
この状態で、上部メニューのアニメーションタブからアニメーションの設定を行うと、アニメーションが有効になります。
<br/>
<img src="/assets/explain/menu_animation2.png">
<br/>
<br/>
アニメーションのタイプは[ none , effect , show , hide ]から選択出来ます。
<br/>
none:   エフェクトOFF
<br/>
effect: エフェクトON
<br/>
show:   エフェクトON、表示→非表示
<br/>
hide:   エフェクトON、非表示→表示（デフォルトが非表示）
<br/>

<br/>

アニメーションのオプションを設定すると揺れたり、点滅したりといった効果が設定出来ます。
<br/>
アニメーションの時間を設定するとアニメーションに用いる時間を変更できます。
<br/>

<br/>
アニメーションの開始タイミングは、コマがスクロールによって画面中央を通過したときです。
<br/>
編集画面ではアニメーションのテストのためのrunボタンを押すと、アニメーションさせる事が出来ます。
<br/>
show,hideの場合、初期状態を設定する必要がありますので、リセットを行ってからテストしてください。

<br/>
<br/>

<p id="upload_image"> </p>
<h2 >画像のアップロード</h2>
<h3>新しいキャラクターと画像をアップロード</h3>
キャラクター選択画面の一番上の、新しいキャラクター追加ボタンを押すと入力フォームが表示されます。
<br/>
アップロードする画像と、作者、キャラクターの名前、簡単な説明を入力してください。
<br/>
<h3>キャラクターの新しい画像をアップロード</h3>
既にメニューにあるキャラクターに新しい画像を追加する場合は、
<br/>
キャラクターを選択し、右上にあるプラスのボタンを押すと入力フォームが表示されます。
<br/>
アップロードする画像と、作者、簡単な説明を入力してください。
<br/>




<h2>プレビューと公開</h2>
プレビューで問題がない事を確認したら、公開ボタンを押して公開しましょう。
<br/>
<img src="/assets/explain/first.png">
<br/>


</div>
</div>


</body>



