// Place all the styles related to the Novel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#entrylist {
	   position: relative;
}


.Image{
	position: 'absolute';
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
}

.sticky{
  position: 'absolute';

  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;         /* CSS3 */
   -moz-border-radius: 20px;    /* Firefox */
   -webkit-border-radius: 20px; /* Safari,Chrome */


   border: 1px black solid;
   //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.entry {
  position: relative;
  width: 840px;
  height: 300px;
}

.entry-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 300px;
  border-radius: 2px;         /* CSS3 */
   -moz-border-radius: 2px;    /* Firefox */
   -webkit-border-radius: 2px; /* Safari,Chrome */
  border: 1px gray ridge;
}

.baloon {
  position: 'absolute';
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;         /* CSS3 */
   -moz-border-radius: 20px;    /* Firefox */
   -webkit-border-radius: 20px; /* Safari,Chrome */

   border: 1px black solid;
   //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.picture {
        position: 'absolute';
        top: 0;
        left: 0;
        height: 100px;
        width: 100px;
}


.buttons {
  background-color: #eef;
  position: absolute;
  //float: right;
  list-style:none;
  left: 800px;
  top: 0px;
}
