// Place all the styles related to the Novel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#entrylist {
	   position: relative;
}
  

.entry {
  position: relative;
  width: 840px;
  height: 300px;
}

.entry-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 300px;
  border-radius: 2px;         /* CSS3 */
   -moz-border-radius: 2px;    /* Firefox */
   -webkit-border-radius: 2px; /* Safari,Chrome */
  border: 1px gray ridge;
}

canvas {
    z-index: 0;
}

.buttons {
  background-color: #eef;
  position: absolute;
  //float: right;
  list-style:none;
  left: 800px;
  top: 0px;
}
