// Place all the styles related to the Novel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#novel_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
body {
    text-align: center;
}
#content {
    width: 500px;
    height: 1000px;
    margin-left: 250px;
    background-color: red;
}



#entrylist {
	   position: absolute;
}


#chaptermenu {
    position: fixed;
    top: 100px;
    width: 200px;
    height: 500px;
    background-color: blue;
}

#chapterList { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#chapterList li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#chapterList li span { position: absolute; margin-left: -1.3em; }

#picker {
    position: absolute;
    top: 100px;
    width: 300px;
}


.ImageResizable{
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
}

.draggable{
	position: absolute;
	top: 0;
	left: 100px;
}

.sticky{
  position: absolute;

  width: 250px;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;         /* CSS3 */
   -moz-border-radius: 20px;    /* Firefox */
   -webkit-border-radius: 20px; /* Safari,Chrome */


   border: 1px black solid;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.entry {
       position: absolute;
}

#comment {
        background-color: #eff;       
}


