// Place all the styles related to the Novel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#novel_container {
    width: 1100px;
    //margin-left: auto;
    margin-right: auto;
}
body {
    text-align: center;
}

#menu {
   psition:fixed;
   top: 0;
   left: 0;
}

#content {
    width: 1024;
    height: 1000px;
    margin-left: 250px;
    background-color: white;
}



#entrylist {
	   position: relative;
}


#chaptermenu {
    position: fixed;
    top: 100px;
    width: 200px;
    height: 500px;
}


#chapterList { list-style-type: none; margin: 0; padding: 0;  }
#chapterList li {  margin: 0 3px 3px 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
#chapterList li span { float: left; width: 10% }



#picker {
    position: absolute;
    top: 100px;
    width: 300px;
}


.Image{
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
}

.draggable{
	position: absolute;
}

.sticky{
  position: absolute;

  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;         /* CSS3 */
   -moz-border-radius: 20px;    /* Firefox */
   -webkit-border-radius: 20px; /* Safari,Chrome */


   border: 1px black solid;
   //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.entry {
  position: 'relative';
  left: 0;
  border-radius: 2px;         /* CSS3 */
   -moz-border-radius: 2px;    /* Firefox */
   -webkit-border-radius: 2px; /* Safari,Chrome */
  border: 1px gray ridge;
}

#inputArea{
    position: "relative";
    left:0;
    top:0;
    margin-left: auto;
    margin-right: auto;
}

#comment {
        background-color: #eff;       
}


