<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ecomaki</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <img id="background" class="background" src="/assets/0.png" />
    <%= yield %>
  </body>
</html>
